.roda {
    background-color: red;
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
}